<div class="footer">
  <div class="container">
    <div class="align-items-center g-0 border-top py-2 row">
      <div class="text-center text-md-start col-md-6 col-sm-12">
        <span>© 2025 BitePlan. All Rights Reserved.</span>
      </div>
      <div class="col-md-6 col-sm-12">
        <nav class="nav nav-footer justify-content-center justify-content-md-end">
          <a class="nav-link active ps-0" href="#">Privacy</a>
          <a class="nav-link" href="#">Terms</a>
          <a class="nav-link" href="#">Support</a>
        </nav>
      </div>
    </div>
  </div>
</div>
