
<!-- heroooo begin -->
<div>
  <div class="container">
    <div class="align-items-center g-0 row">
      <div class="col-xl-5 col-lg-6 col-md-12">
        <div class="py-5 py-lg-0 m-5">
          <h2 class="display-8 fw-bold textcolor">
            Welcome back, {{ userName }}!
          </h2>
          <p class="text-secondary mb-4">
            What would you like to eat today?
          </p>
          <a class="btn btncolor px-4" href="/postrecipe">Post Recipe</a>
          <a class="btn btncolor1 ms-3 px-4" href="/mealplanning">Plan Meal</a>
        </div>
      </div>
      <div class="text-lg-end text-center col-xl-7 col-lg-6 col-md-12">
        <img src="assets/images/hero.png" alt="hero" class="image-fluid">
      </div>
    </div>
  </div>
</div>
<!-- heroooo end -->



<div class="pt-lg-5 pb-lg-3 pt-5 pb-5">
  <div class="container">
    <div class="mb-4 row">
      <div class="col">
        <h2 class="mb-3 mx-2 mt-5 fw-bold textcolor">
          Recipe Feed
        </h2>
      </div>
    </div>
    <div class="row">

      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" *ngFor="let card of cards">
        <app-card
          [id]="card.id"
          [imageSrc]="card.imageSrc"
          [title]="card.title"
          [time]="card.time"
          [rating]="card.rating"
          [cuisine]="card.cuisine"
          [ingredients]= "card.ingredients"
          [cookingSteps]="card.cookingSteps"
          [nutrition]="card.nutrition"
          >
        </app-card>
      </div>

    </div>
  </div>
</div>



<app-footer></app-footer>
