<div class="container">
    <div class="container">
      <h1 class="textcolor fw-bold mb-3 mt-3">Suggested connections</h1>
      <p class="text-secondary fs-5">more Followers , more Recipes</p>
    </div>
    <div *ngFor="let cardi of cards">
      <app-followerscard
      [mainImage]="cardi.mainImage"
      [name]="cardi.name"
      [position]="cardi.position"
      [num]="cardi.num"
      [image1]="cardi.image1"
      [image2]="cardi.image2"
      [image3]="cardi.image3"
      [image4]="cardi.image4"
      [image5]="cardi.image5"
      (follow)="addToFollowing($event)"
      >
      </app-followerscard>
    </div>
</div>
<app-footer></app-footer>
