.textcolor
{
  color: #002B5B;
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.tablestyle
{
  width: 100%;
}
.table-centered td, .table-centered th {
  vertical-align: middle!important;
}
.textcolor1
{
  color: #FF914D;
}
