<br><br><br>
<section class="mt-8 mb-14">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-8">
          <h1 class="mb-1 textcolor">My Shopping List</h1>
          <p>There are {{ shoppingList.length }} products in this Shopping List.</p>
        </div>
      </div>
      <div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="textcolor">#</th>

              <th scope="col" class="textcolor">Product</th>
              <th scope="col" class="textcolor">
                <div class="">Remove</div>
              </th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of shoppingList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item }}</td>
              <td>

                <i class="bi bi-trash-fill textcolor1 fs-4 ccc" (click)="removeItem(item)" ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>

<app-footer></app-footer>


