.meal-slot {
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.meal-info {
  margin-top: 0.5rem;
}
.ingredients {
  margin-top: 0.5rem;
}
.ingredients ul {
  margin: 0;
  padding-left: 1.5rem;
}
h6 {
  margin-bottom: 0.5rem;
}
.b2
{
  color: white;
  background-color: #002B5B;
  border: none;
  border-radius: 0.5rem;

}
