
<nav *ngIf="showNavbar" class="navbar navbar-expand-xl">

<div class="container">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" alt="Bootstrap" >
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-link textcolor  active fs-5" aria-current="page" href="/home">Home</a>
      <a class="nav-link textcolor fs-5" href="#">Explore</a>
      <a class="nav-link textcolor fs-5" routerLink='/mealplanning' href="/mealplanning">Meal Planner</a>
      <a class="nav-link textcolor fs-5" routerLink="/shoppinglist" href="/shoppinglist">Shopping List</a>
    </div>
    <div class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-flex">
      <a  class="icon-button b1 me-1" routerLink="/postrecipe"  href="/postrecipe">
        <i class="bi bi-plus-circle"></i>
      </a>
      <button type="button" class="icon-button b2 me-1">
        <i class="bi bi-search"></i>
      </button>
      <button type="button" class="icon-button b2 me-1">
        <i class="bi bi-bell-fill"></i>
      </button>
      <a  class="icon-button b2" routerLink="/profile" href="/profile">
        <i class="bi bi-person-fill"></i>
      </a>
    </div>
  </div>
</div>
</nav>
