.textcolor
{
  color: #002B5B;
}
.iconcolor
{
  color: #FF914D;
}
.cc
{
  cursor: pointer!important;
}
.btncolor
{
  background-color: #002B5B;
  color: white;
}
.card-footer
{
  background-color: white!important;
  border: none!important;
}
.card-img {
  width: 100%; /* Ensures it spans the card width */
  height: 300px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image fills the box while cropping excess */
  object-position: center; /* Centers the cropped part of the image */
}
