.card{
  border: none;
}
.cardimage
{
  width: 15%;
  height: 15%;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 50%;
}
.cardpos
{
  align-items: center;
  justify-content: center;
}
.textcolor
{
  color: #002B5B;
}
.b2
{
  color: white;
  background-color: #FF914D;
}
