<!-- <app-navbar></app-navbar> -->
<br>
<br>

<div class="container">
  <div class="card cardpos text-center" >
    <!-- here -->
    <input
    type="file"
    id="imageInput"
    accept="image/*"
    (change)="onImageChange($event)"
    style="display: none;"
  />
    <!-- end here -->
    <!-- <img src="assets/images/person.png" class="card-img-top cardimage" alt="..."> -->
    <img
    [src]="profileImage"
    class="card-img-top cardimage"
    alt="Profile Picture"
    (click)="triggerFileInput()"
  />
    <div class="card-body text-center">
      <h5 class="card-title textcolor fw-bold fs-3 mb-2">{{ userName }}</h5>
      <div class="d-flex justify-content-between">
        <div>
          <h6 class="fw-bold fs-3 textcolor">3M</h6>
          <small class="text-secondary fs-5">Followers</small>
        </div>
        <div class="ms-5">
          <h6 class="fw-bold fs-3 textcolor">{{ cards.length }}</h6>
          <small class="text-secondary fs-5">Recipes</small>
        </div>
        <div class="ms-5">
          <h6 class="fw-bold fs-3 textcolor">900</h6>
          <small class="text-secondary fs-5">Followings</small>
        </div>

      </div>
      <a href="/login" class="btn b2 mt-4 px-5">Log out</a>
    </div>


  </div>

  <h5 class=" textcolor fw-bold fs-3">Your posts</h5>
<br><br>
  <div class="row">
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" *ngFor="let card of cards">
    <app-card
    [imageSrc]="card.imageSrc"
    [title]="card.title"
    [time]="card.time"
    [rating]="card.rating"
    [ingredients]= "card.ingredients"
    [cookingSteps]="card.cookingSteps"
    [nutrition]="card.nutrition"
      >
    </app-card>
  </div>
</div>

</div>

<app-footer></app-footer>

